@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Course App</h1>
    <p> To register a course</p>
    <p> <a class="btn btn-primary" href="/course/apply"> click here</a></a></p>
</div>
